*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: auto;
    margin: auto;
    color: #ffffff;
}
.cont{
    margin: 20px;
    overflow: hidden;
    position: relative;
    bottom: auto;
    margin: auto;
    padding: auto;
    display: table;
}
.cont p{
    display: flex;
    font-size: 29px;
    padding: 35vh;
    width: auto;
}
.topbar{
    background-color: #262928;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
    padding: auto;

}
.topbar a{
    color: #ddd;
    float: left;
    text-decoration: none;
    font-size: 19px;
    width: auto;
    padding: 11px 13px;
}
.topbar a:hover{
    color: #2f7a48;
    display: flex;
}
.topbar a.pri{
    background-color: #2f7a48;
    color: #000;
    display: flex;
}
.topbar a.pri:hover{
    color: #2f7a48;
    background-color: #262928;
}
footer{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262928;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 4px;
    width: 100%;
}